.form{
	width: 100%;
	height: auto;
	background: rgba(45, 111, 162, 0.35);
	display: none;
	float: left;
	position: absolute;
}

.form .closeButton{
	background: rgb(0, 26, 26);
	display: none;
	height: 100px;
}
.form .mdl-textfield__label{
	font-size: 23px;
	color:#14ACB4;

}
.form .mdl-textfield__input{
	border-bottom-width:1px;
	border-bottom-color:#14ACB4;
	padding-bottom: 10px;
	color:white;
}
.form .mdl-textfield{
	width:400px;
}

.form .mdl-textfield__label:after{
	background-color: #18C3A4 ;
	padding-top: 1px;
	margin-bottom: -6px;
}

.form .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.form .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.form .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
	color:#14ACB4;
}


.form form{
	display: inline-block;
}

.mdl-cell--6-col, .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop{
	text-align: center;
}
.form .mdl-button--raised{
	background-color: #14ACB4;
	color:white;

}


.form .textContainer h3{
	display: block;
	margin:auto;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 15px;
	color: white;
	overflow: hidden;
}
.form .textContainer{
	text-align: center;
}

.form #qedLogo{
	display: block;
	margin-left: 30.7%;
	width: 37.4%;
}
.form .textField{
	margin-left: 30px

}

.form .theButton{
	margin: 0.5em auto;
	display: block;
}
a #tryModel{
	margin: auto;
}

a{
	color:#001A1A;
}

@media(max-width: 1200px) {
    .form{
        top: 50px;
    }
    .form #qedLogo{
    	margin-top: 0.3%;
    	margin-left: 31.2%;
    	width: 38.2%;
    }
}

@media(max-width: 768px) {
    .form{
        top: 50px;
    }
    .form #qedLogo{
    	margin-top: -1.1%;
    	margin-left: 32%;
    	width: 34.2%;
    }

}
@media(max-width: 446px) {
    .form{
        top: 47px;
    }
    .form #qedLogo{
    	margin-top: -2.1%;
    	margin-left: 32%;
    	width: 34.2%;
    }
    .form form{
    	width: 100%;
    }
    .form .mdl-textfield{
		width:100%;
	}
}







html, body {
	height: 100%;
	width: 100%;
}
body {
	position: relative;
}
#returnLink {
	position: absolute;
	right: 0;
}
#introPage {
	margin: auto;
	width: 50%;
	position: relative;
	top: 15em;
	text-align: center;
}
#entryPage {
	height: 100%;
	width: 100%;
	position: absolute;
}
#backButton {
	margin: 1em;
	position: absolute;
	top: 20em;
}
#nextButton {
	margin: 1em;
	position: absolute;
	top: 20em;
	right: 0;
}
#graphSvgDiv {
	width: 50%;
	height: 40%;
	margin: 0 0 0 7em;
	float: left;
	position: absolute;
	bottom: 0;
}
#graphSvg {
	background-color: rgba(50%, 50%, 50%, 0.5);
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#dueDateAxis path {
    fill: none;
    stroke: none;
}
#dueDateAxis line {
    fill: none;
    stroke: black;
}
#dueDateAxis text {
    font-family: sans-serif;
    font-size: 11px;
}
#highlightImgDiv {
	width: 30%;
	height: 30%;
	margin: 2em 7em 0 0;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}
#graphImg {
	width: 100%;
	height: 100%;
}
#highlightImg {
	width: 100%;
	height: 100%;

}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
#dash_img{
	margin-top: 5%;
	width: 70%;
	float: left;
}
#dash_highlight_client{
	margin-top: 8%;
	float:right;
	width: 30%;
}
#dash_highlight_invoice{
	float:right;
	margin-top: 8%;
	width: 30%;
}