@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
	font-family: 'Raleway', serif;
}
#introImage{
	display: block;
	margin: auto;
    max-height: 100%;
    height: 100%;
}
#navBar{
	display: none;
	width: 100%;
	height: 10%;
	background: black;
	position: fixed;
	color: white;
	 z-index: 70;
}
#slider{
	width: 50%;
	float: left;
	display: inline;
    top: 20%;
    position: relative;
    text-align: center;
    padding-left: 10%;
}
#insight_container{
	width: 50%;
	float:right;
	display: inline;
    top: 20%;
    position: relative;
    padding-right: 10%;
}
#insights{
	padding-left: 40%;
}
#introPage{
	width: 100%;
    margin: 0 auto;
}
#graphPage{
	margin-top: 0;
}
#graph_container{
	width: 90%;
	margin: 0 auto;
}
#graphSvg {
	background-color: rgba(50%, 50%, 50%, 0.5);
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#dueDateAxis path {
    fill: none;
    stroke: none;
}
#dueDateAxis line {
    fill: none;
    stroke: white;
}
#dueDateAxis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
}
#graphSvgDiv{
	height: 100%;
	bottom: 0;
}
#secondaryGraphSvgDiv{
	height: 100%;
	bottom: 0;
}
#mainGraph{
	height: 500px;
	width: 50%;
	bottom: 0;
}
#secondaryGraph{
	width: 50%;
	height: 500px;
}
/*#insight_titles{
	width: 30%;
	float: left;
}
#insight_button_container{
	width: 70%;
	height: 100%;
	float: right;
}
#negativeButton{
	align-self: stretch;
}
#positiveButton{
	align-self: stretch;
}*/