.cls-1 {
    fill: #eceff1;
}
.cls-2 {
    isolation: isolate;
}
.cls-3 {
    fill: #90a4ae;
}
.cls-4 {
    fill: #263238;
}
.cls-5 {
    fill: url(#linear-gradient);
}
.cls-6 {
    fill: url(#linear-gradient-2);
}
.cls-7 {
    fill: url(#linear-gradient-3);
}
.cls-8 {
    fill: #689f38;
}
.cls-15,
.cls-9 {
    fill: #304ffe;
}
.cls-10,
.cls-13 {
    fill: #ff125c;
}
.cls-11,
.cls-12 {
    fill: #fff;
}
.cls-11,
.cls-13,
.cls-14,
.cls-15 {
    stroke: #231f20;
    stroke-miterlimit: 10;
}
.cls-14 {
    fill: #00897b;
}
.cls-16 {
    fill: #b0bec5;
}
.cls-17 {
    fill: #78909c;
}